body{
    display: grid;
    place-items: center;
}
table{
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    margin: 20px;
}
caption{
    caption-side: top;
    background-color: #73BFB8;
    padding: 10px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
th{
    height: 20px;
    background-color: #2364AA;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}
tr{
    background-color #ffffff;
    font-family: 'Potta One', cursive;
}
td{
    padding: 5px;
}
td:nth-child(odd){
    background-color: #73BFB8;
}
.loader{
    display: none;
}